<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Help</title>
</head>
<body>
<div id="root">
    <p id = "p1"></p>
    <a href="152">Here</a>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js"
        integrity="sha512-lyIq9fRcCeSCXhp41XC/250UBmypAHV8KW+AhLcSEIksWHBfhzub6XXwDe67wTpOG8zrO2NAU/TYmEaCW+aQSg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous"></script>
<script>
    console.log("Ya tut2")
    function connect() {
        let sock = new SockJS("http://localhost:9090/ws")
        console.log("Ya tut")
        let text = document.getElementById("p1")

        let client = Stomp.over(sock)

        client.connect({}, frame => {
            client.subscribe("/ws/insert", payload => {
                let data = JSON.parse(payload.body)
                console.log(data)
                text.innerHTML = data.isOn
            });
        });
    }
    console.log("Ya tut")
    connect();
</script>
</html>